@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
::-webkit-scrollbar{
  display: none;
}

:root {
  --font-inknut-antiqua: "Inknut Antiqua";
  --font-secondary: "Raleway", sans-serif;
  --line-height:165.9%;

  /* font sizes */
  --paragraph-size: 16px;
  --font-size-13xl: 32px;
  --font-size-sm: 14px;
  --font-size-smi: 13px;

  /* Colors */
  --color-gray-100: #787777;
  --color-gray-200: #3e001f;
  --color-palevioletred: #89375f;
  --color-white: #fff;
  --primary-color:#EDE8D0;

  /* Paddings */
  --br-3xs: 10px;
}
